<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cellSub</key>
			<string>次/分</string>
			<key>cellIcon</key>
			<string>heart</string>
			<key>cellTitle</key>
			<string>心率</string>
		</dict>
		<dict>
			<key>cellSub</key>
			<string>次</string>
			<key>cellIcon</key>
			<string>moveon</string>
			<key>cellTitle</key>
			<string>体动</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>cellSub</key>
			<string>次/分</string>
			<key>cellIcon</key>
			<string>breath</string>
			<key>cellTitle</key>
			<string>呼吸</string>
		</dict>
		<dict>
			<key>cellSub</key>
			<string>次</string>
			<key>cellIcon</key>
			<string>getup</string>
			<key>cellTitle</key>
			<string>离床</string>
		</dict>
	</array>
</array>
</plist>
