<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>心率分析</string>
		<string>呼吸分析</string>
	</array>
	<array>
		<string>心率平均值</string>
		<string>呼吸平均值</string>
	</array>
	<array>
		<string>心率异常值</string>
		<string>呼吸异常值</string>
	</array>
	<array>
		<string>心率异常高于</string>
		<string>呼吸异常高于</string>
	</array>
</array>
</plist>
